#topbar {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #303030;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#topbar #tabs {
  position: absolute;
  height: 40px;
  left: 80px;
  right: 0px;
  bottom: 0px;  
  color: #888;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#topbar #tabs .tab {
  width: 180px;
  max-width: 220px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  display: inline-block;
  border-left: #222;
  padding-left: 14px;
  padding-right: 24px;
  text-align: center;
  margin: 0px;
  margin-right: -4.5px;
  position: relative;
  transition: opacity .3s;
}

#topbar #tabs .tab .tab-close { position: absolute; right: 10px; line-height: 40px; font-weight: 100; opacity: 0;  }

#topbar #tabs .tab:hover > .tab-close { opacity: 1 }

#topbar #tabs .tab.current { 
  /*background: rgba(0,0,0,0.2);*/
  background: #272822;
  color: #fff;
}